Host *
        ForwardAgent yes
        StrictHostKeyChecking no
        HashKnownHosts yes
        PermitLocalCommand yes
        ServerAliveInterval 30

Host    ganymede.gwath-land.fr
        {% for item in users %}
        User {{ item.name }}
        IdentityFile ~/.ssh/{{ item.ssh.work_name }}
        {% endfor %}
        Port 22