Host *
        ForwardAgent yes
        StrictHostKeyChecking no
        HashKnownHosts yes
        PermitLocalCommand yes
        ServerAliveInterval 30

Host    ganymede.gwath-land.fr
        User {{ user.name }}
        IdentityFile ~/.ssh/{{ user.ssh_work_name }}
        Port 22