{{ ansible_managed | comment(decoration='# ') }}

{{title}}

{% for message in decree %}
    {{ message.name }}
{% endfor %}

<h1>Hello Pinguin!</h1>

<h2>Suprem Pinguin Dictator First Decree.</h2>

<p>All pinguin shall be considerd as equal.</p>
<p>All pingoin shall have an igloo.</p>
<p>All pingoin shall pay the Suprem Pinguin Dictator taxes.</p>

<p>Je suis un test.</p>