[user]
        {% for item in users %}
        email = {{ item.git.email }}
        name = {{ item.git.name }}
        {% endfor %}

[push]
        default = current

[pull]
        rebase = true

[http]
        sslVerify = false